<%- layout('layout/layout.ejs') %>


    <%- include('partials/top-bar.ejs') %>
    <div id="viewscreen" >
        <%- include('partials/side-navbar.ejs') %>
      
            <div id="rightview">
                <div class="container-fluid div-min-width" style="padding:0">
                    <div class="row">
                        <div class="col-lg-12 parentDiv" style="padding:0">
                            <div class="to-center-div">
                                <div class="container childDiv">
                                    <div class="panel panel-default" style="background: rgb(249, 249, 249);box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);">
                                        <div class="panel-body">
                                            <div class="d-flex imageDiv">
                                                <div class="image-container">
                                                    <img src="<%= data.photoname %>" id="profilepic">
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default panelDiv">
                                                    <div class="panel-heading">Email</div>
                                                    <div class="panel-body"><%=data.email%></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Gender</div>
                                                    <div class="panel-body"><%=data.gender%></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Name</div>
                                                    <div class="panel-body"><%=data.name%></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">City</div>
                                                    <div class="panel-body"><%=data.city%></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">DOB</div>
                                                    <div class="panel-body"><%=data.dob%></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Phone</div>
                                                    <div class="panel-body"><%=data.phone%></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>