<!DOCTYPE html>
<html>
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="css/sidebar.css" rel="stylesheet" type = "text/css">
        <link href="css/header.css" rel="stylesheet" type = "text/css">
        <link href = "css/dashboard.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/openpanel.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/datatables.css">
        <link type="text/css" href="css/datatables.min.css">
        <link rel="stylesheet" type="text/css" href="css/trumbowgy.css">
    </head>

    <body class="body">
        <% include partials/top-bar.ejs %>
        <div id="viewscreen" >
            <% include partials/side-navbar.ejs %>
            <div id="rightview">
                <div class="container-fluid div-min-width" style="padding:0">
                    <div class="row">
                        <div class="col-lg-12 parentDiv" style="padding:0">
                            <div class="to-center-div">
                                <div class="container childDiv">
                                    <div class="panel panel-default" style="background: rgb(249, 249, 249);box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);">
                                        <div class="panel-body">
                                            <div class="d-flex imageDiv">
                                                   <div class="image-container">
                                                                <img src="<%= data.photoname %>" id="profilepic">
                                                            </div>
                                                            <form id="userImage" action="/user/Userupload" enctype="multipart/form-data" method="POST">
                                                                <input type="file" name="userFile" accept="image/*" />
                                                                <input type="submit" value="Change"/>
                                                            </form>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-sm-12">

                                                <div class="panel panel-default panelDiv">
                                                     <div class="panel-heading">Basic Info</div>
                                                    <div class="panel-body">
                                                    
                              <div class="form-group">
                                <label>Email :</label>
                                <input type="text" value="<%= data.email  %>" class="form-control" name="username" disabled="true" id="user_email" />
                              </div>

                               <div class="form-group">
                                <label>Name :</label>
                                <input type="text" value="<%= data.name  %>" class="form-control" name="name" id="user_name" />
                              </div>

                              <div class="col-sm-5 form-group" style="padding:0;">
                                  <label>DOB :</label>
                                  <input class="form-control dobDate" id="birth_date" value="<%= data.dob  %>" name="dob" placeholder="DD-MM-YYYY" type="date" autocomplete="off" required="">
                              </div>

                              <div class="form-group col-sm-5 col-sm-push-2" style="padding:0;">
                                      <label>Gender :</label>
                                      <select name="gender" class="form-control" id="user_gender">
                                      <optgroup label="Select Gender" >
                                          <option value="Male" selected="">Male</option>
                                          <option value="Female">Female</option>
                                          <option value="Transgender">Transgender</option>
                                      </optgroup>
                                      </select>
                              </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default panelDiv">
                                                     <div class="panel-heading">Contact Info</div>
                                                <div class="panel-body">

                              <div class="form-group">
                                  <label>Phone :</label>
                                  <input type="text" value="<%= data.phone  %>" class="form-control" name="phone" maxlength="10" required="" id="user_phone"
                                  />
                              </div>

                              <div class="form-group">
                                  <label>City :</label>
                                  <input type="text" value="<%= data.city  %>" class="form-control" name="city" required="" id="user_city"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <a href="#" class="btn btn-warning pull-left btnEditForm" style="margin:1px" onclick="changePassword()">Change Password</a>

                              <a href="#" class="btn btn-danger pull-right btnEditForm" style="margin:1px" onclick="homePage()">Cancel</a>
                              <input type="submit" class="btn btn-primary pull-right btnEditForm" style="margin:1px" value="Update" onclick="updateUserDetails()">
                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
    
<script type="text/javascript" src="js/ProfileDetails.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="js/trumbowgy.js"></script>